<p>
<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title">Question Topic</h3>
  </div>
  <%== text_field_tag :question_topic, "", size: 40 %>
</div>
</p>
<p>
<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title">Question Type</h3>
  </div>
  <%== text_field_tag :question_type, "", size: 40 %>
</div>
</p>
<p>
<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title">Question Topic</h3>
  </div>
  <%== text_field_tag :question_topic, "", size: 40 %>
</div>
</p>
<p>
<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title">Question Topic</h3>
  </div>
  <%== text_field_tag :question_topic, "", size: 40 %>
</div>
</p>