<html>
  
  <head>
    <title>Questionnaire</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://app.divshot.com/css/bootstrap.css">
    <link rel="stylesheet" href="https://app.divshot.com/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="https://app.divshot.com/themes/google/google-bootstrap.css">
    <link rel="stylesheet" href="https://app.divshot.com/css/divshot-util.css">
    <link rel="stylesheet" href="https://app.divshot.com/css/divshot-canvas.css">
    <script src="https://app.divshot.com/js/jquery.min.js"></script>
    <script src="https://app.divshot.com/js/bootstrap.min.js"></script>
    <script>
      document.domain = 'divshot.com';
    </script>
  </head>
  
  <body>
    <title>Divshot: Getting Started</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://app.divshot.com/css/bootstrap.css">
    <link rel="stylesheet" href="https://app.divshot.com/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="https://app.divshot.com/css/divshot-util.css">
    <link rel="stylesheet" href="https://app.divshot.com/css/divshot-canvas.css">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">ELIC Questionnaire</a>
          <div class="navbar-content">
            <ul class="nav  pull-right">
              <li class="active">
                <a href="#">Home</a> 
              </li>
              <li>
                <a href="#">Help</a> 
              </li>
            </ul>
          </div>
          <h3><center>Please answer the Following 20 Questions.</center></h3>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="page-header"></div>
      <span class="label"></span>
      <div class="well">
        <h4>What company provides health insurance for ELIC?          <br>         </h4>
        <a class="btn">Integra</a><a></a><a class="btn">Humana</a><a class="btn">Cigna</a><a></a><a class="btn">None of these.</a> 
      </div>
      <div class="row"></div>
      <div class="well">
        <h4>Which of these are provided by ELIC IT to help with accessing blocked          websites?          <br>         </h4>
        <a class="btn">Tunnel</a><a></a><a class="btn">VPN</a><a class="btn">Wishful Thinking</a><a></a><a class="btn">A long network cord stretching to the USA.</a> 
      </div>
      <div class="well">
        <h4>What year did ELIC first send teachers to China?          <br>         </h4>
        <a class="btn">1942</a><a></a><a class="btn">1991</a><a class="btn">2012</a><a></a><a class="btn">1972</a> 
      </div>
      <div class="well">
        <h4>Who is the current president of ELIC? &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<br>         </h4>
        <a class="btn">Bill Gates</a><a></a><a class="btn">Bozo the Clown</a><a class="btn">Tim Davis</a><a></a><a class="btn">Leonardo Davinci</a> 
      </div>
      <div class="pagination pagination-centered">
        <ul>
          <li>
            <a href="#">Prev</a>
          </li>
          <li>
            <a href="#">1</a>
          </li>
          <li>
            <a href="#">2</a>
          </li>
          <li>
            <a href="#">3</a>
          </li>
          <li>
            <a href="#">4</a>
          </li>
          <li>
            <a href="#">Next</a>
          </li>
        </ul>
      </div>
    </div>
  </body>

</html>