 <div class="hero-unit">
 	<p></p><h1>Register</h1></p>
    <%== text_field_tag :email, "", size: 40 %>
    <%== text_field_tag :password, "", size: 40 %>
    <%== text_field_tag :password_confirmation, "", size: 40 %>
    <a class="btn btn-primary btn-large">Register</a>
  </div>